In [2]:
# Defining and declaring an array
arr = [10, 20, 30, 40, 50]
print(arr)

# Accessing Array Elements
print("Array Data: ")
print(arr[0])
print(arr[1])
print(arr[2])
print(arr[-1]) # Negativa index
print(arr[-2]) # Nagative index

[10, 20, 30, 40, 50]
Array Data:
10
20
30
50
40

In [3]:
brands = ["Coke" , "Apple" , "Google", "Microsoft" , "Toyota"]
print(brands)

# Finding the lenght of the array
num_brands = len(brands)
print(num_brands)

# Adding an element to an array using append()
brands.append("Intel")
print(brands)

['Coke', 'Apple', 'Google', 'Microsoft', 'Toyota']
5
['Coke', 'Apple', 'Google', 'Microsoft', 'Toyota', 'Intel']

In [4]:
# Removig elements from an array
colors = ["Violet", "Indigo", "Blue", "Green", "Yellow", "Orange", "Red"]
print(colors)

del colors[4]
print(colors)

colors.remove("Blue")
print(colors)

colors.pop(3)
print(colors)

['Violet', 'Indigo', 'Green', 'Red']

In [5]:
# Modifying elements of an array using indexing
fruits = ["Apple", "Banana", "Mango", "Grapes", "Orange"]
print(fruits)

fruits[ 1] = "Pineapple"
print(fruits)

fruits[-1] = "Guava"
print(fruits)

['Apple', 'Pineapple', 'Mango', 'Grapes', 'Guava']

In [8]:
# Concatenating two arrays usig + operator
concat = [1, 2, 3]
print(concat)

concat + [4, 5, 6]
print(concat)

concat = concat + [4, 5, 6]
print(concat)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [9]:
# Repeating element in an array
repeat = ["a"]
print(repeat)

repeat = repeat * 5
print(repeat)

['a']
['a', 'a', 'a', 'a', 'a']

In [10]:
# Slicing an array
fruits = ["Apple", "Banana", "Mango", "Grapes", "Orange"]
print(fruits)

print(fruits[  1 :  4 ] ) 
print(fruits[    :  3 ] )
print(fruits[ -4 :    ] )
print(fruits[ -3 : -1 ] )

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']
['Banana', 'Mango', 'Grapes']
['Apple', 'Banana', 'Mango']
['Banana', 'Mango', 'Grapes', 'Orange']
['Mango', 'Grapes']

In [12]:
# Declaring and defining multidimensional array
multd = [ [1 , 2] , [3 , 4] , [5 , 6] , [7 , 8] ]
print(multd        )
print(multd[0]     )
print(multd[3]     )
print(multd[2] [1] )
print(multd[3] [0] )

[[1, 2], [3, 4], [5, 6], [7, 8]]
[1, 2]
[7, 8]
6
7