In [1]:
# True | False
print( 5 == 5 )
print( 5 >  5 )

True
False

In [2]:
# None
print(None == 0    )
print(None == False)
print(None == []   )
print(None == None )

False
False
False
True

In [4]:
# Example using None
def a_void_function():
  a = 1
  b = 2
  c = a + b
  # for avoid None
  # return(c)

x = a_void_function()
print(x)

3

In [7]:
# and, or, not
print(True and False )
print(True or  False )
print(     not False )
print(True and True  )
print(True or  True  )
print(     not True  )

False
True
True
True
True
False

In [6]:
# as
import math as myMath
print(myMath.cos(myMath.pi))

-1.0

In [9]:
# assert (afirmar)

assert 5  > 4
assert 5 == 5

# assert exception:
# assert 5 > 5

In [10]:
# break
for i in range (1,11):
  if i == 5:
    break
  print(i)

1
2
3
4

In [11]:
# continue
for i in range (1,8):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7

In [12]:
# class
class ExampleClass:
  def function1(parameters):
    print("function1() executing...")
    
  def function2(parameters):
    print("function2() executing...")

ob1 = ExampleClass()
ob1.function1()
ob1.function2()

function1() executing...
function2() executing...

In [16]:
# def
def function_name(parameters):
  pass

function_name(10)

In [17]:
# del
a = 10
print(a)

del a
print(a)

10

NameError: ignored

In [19]:
# else, elif, else
num = 2
if   num == 1:
  print("One"           )
elif num == 2:
  print("Two"           )
else:
  print("Something else")

Two

In [20]:
# try ... raise ... except(catch) ... finally
try:
  x = 9
  raise ZeroDivisionError
except ZeroDivisionError:
  print("Division cannot be performed")
finally:
  print("Execution Successfully")

Division cannot be performed
Execution Successfully

In [23]:
# for
for i in range( 1 , 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [27]:
# from ... import
import math
from math import cos

In [28]:
# global
gvariable = 10

def read():
  print(gvariable)

def write1():
  global gvariable
  gvariable = 5

def write2():
  gvariable = 15

read()
write1()
read()
write2()
read()

10
5
5

In [29]:
# in
a = [1, 2, 3, 4]
print( 4 in a)
print(44 in a)

True
False

In [31]:
# is
print(True  is True )
print(True  is False)
print(False is True )
print(False is False)

True
False
False
True

In [32]:
# Lambda
a = lambda x: x * 2
for i in range(1,6):
  print(a(i))

2
4
6
8
10

In [35]:
# nonLocal
def outer_function():
  a = 5
  def inner_function():
    nonlocal a
    a = 10
    print("Inner Function: ", a)
  inner_function()
  print("Outer Function: ", a)

outer_function()

Inner Function:  10
Outer Function:  10

In [36]:
# pass
def function():
  pass

function()

In [37]:
# return
def func_return():
  a = 10
  return a

print(func_return())

10

In [38]:
# while
i = 5
while (i > 0):
  print(i)
  i -= 1

5
4
3
2
1

In [39]:
# with
with open("example.txt", 'w') as my_file:
  my_file.write("Hello World!")
  my_file.close()

In [41]:
# yield
def generator():
  for i in range(6):
    yield i * i

g = generator()
for i in g:
  print(i)

<generator object generator at 0x7f260ec584c0>
0
1
4
9
16
25