In [ ]:
# Creating an empty tuple
tuple1 = ()
print(tuple1)

# Creating tuples with integer elements
tuple2 = (1,2,3)
print(tuple2)

# Tuple wit mixed datatypes
tuple3 = (101, "Anirban", 2000.00, 'Hi Depot')
print(tuple3)

()
(1, 2, 3)
(101, 'Anirban', 2000.0, 'Hi Depot')

In [2]:
# Creation of nested tuple
tuple4 = ("points", [1, 4, 3], (7, 8, 6))
print(tuple4)

# Tuples can also be created without any parentheses
# also called tuple packing
tuple5 = 101, "Anirban", 2000.00, 'Hr-Depot'
print(tuple5)

# Tumple unpacking is also possible
empid, empname, empsal, empdept = tuple5
print( empid  )
print( empname)
print( empsal )
print( empdept)

print(type(tuple5))

('points', [1, 4, 3], (7, 8, 6))
(101, 'Anirban', 2000.0, 'Hr-Depot')
101
Anirban
2000.0
Hr-Depot
<class 'tuple'>

In [4]:
# Accesing elements in a tuple
tuple1 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')
print( tuple1  )
print( tuple1[1])
print( tuple1[3])
print( tuple1[5])

# Nested tuple
nested_tuple2 = ("point", [1, 3 , 4], (8, 7, 9))
print( nested_tuple2      )
print( nested_tuple2[0][3])
print( nested_tuple2[1][2])
print( nested_tuple2[2][2])

('w', 'e', 'l', 'c', 'o', 'm', 'e')
e
c
m
('point', [1, 3, 4], (8, 7, 9))
n
4
9

In [5]:
# Slicing tuple contents
tuple1 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')

print(tuple1[ 1 :  3 ])

print(tuple1[   : -3 ])

print(tuple1[ 3 :    ])

print(tuple1[   :    ])

('e', 'l')
('w', 'e', 'l', 'c')
('c', 'o', 'm', 'e')
('w', 'e', 'l', 'c', 'o', 'm', 'e')

In [7]:
# Tuple elements are inmutable
tuple1 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')
print(tuple1)
# tuple1[2] = 'x' # error

#tuples can be reassigned
tuple1 = ('g', 'o', 'o ', 'd', 'b', 'y', 'e')
print(tuple1)

('w', 'e', 'l', 'c', 'o', 'm', 'e')
('g', 'o', 'o ', 'd', 'b', 'y', 'e')